__pycache__

# Freevc内の不要なファイルを無視
FreeVC/__pycache__/
FreeVC/dataset/
FreeVC/logs/
FreeVC/wavlm/WavLM-Large.pt
FreeVC/checkpoints/freevc.pth
FreeVC/checkpoints/freevc-s.pth
*.log

# python仮想環境のファイルを無視
.venv/
pyvenv.cfg